header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1000px;
}

header h1 {
    font-size: clamp(var(--font-size-h1-min), 4vw + 1rem, var(--font-size-h1-max));
    line-height: var(--line-height-h1);
    letter-spacing: var(--letter-spacing-h1);
    text-transform: uppercase;
    font-weight: var(--font-weight-h1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.not-safari header p {
    display: inline-block;
    vertical-align: top;
    will-change: transform;
    display: block;
    text-align: start;
    /* width: 100%; */
    /* font-size: 2rem; */

    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    mix-blend-mode: difference;

}
.safari header p{
    display: inline-block;
    vertical-align: top;
    will-change: transform;
    display: block;
    text-align: start;
    /* width: 100%; */
    /* font-size: 2rem; */

    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    mix-blend-mode: difference;
    /* Aquí puedes aplicar estilos alternativos o dejarlo vacío */
    backdrop-filter: none; /* O eliminar esta propiedad si no se quiere nada */
}

/* Refinamientos para pantallas grandes */
@media (min-width: 1024px) {
    header h1 {
        font-size: var(--font-size-h1-max);
    }
}