section#map-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
h2#map-title{
    width: 100%;
}

#map-container {
    margin-bottom: 0.65rem;
    width: 100%;
    box-shadow: 0 4px 6px #0000001a;
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #ed6e61, #6359e1) border-box;
    border: 3px solid transparent;

    max-width: 1000px;
}


#leaflet-map-container {
    display: flex;
    gap: .8rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 5px;

    width: 98%;
    height: 400px; /* Asegúrate de tener un tamaño visible */
    border-radius: 5px;
}
.option-searching-map {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.map-options-search-section {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.section-inputs-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 19px;
}
#btn-apply-coordinates-search {
    box-shadow: 0 4px 6px #0000001a;
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #ed6e61, #6359e1) border-box;
    border: 3px solid transparent;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
button#capture-terrain-btn {
    box-shadow: 0 4px 6px #0000001a;
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #ed6e61, #6359e1) border-box;
    border: 3px solid transparent;
    cursor: pointer;
    font-size: 1rem;
}
.data-mapa-current-coordinates {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;

}
.data-mapa-current-coordinates p {
    margin: 0;
}

#current-coordinates {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 6px;
}
.statuts-current-coords {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: flex-start;
}
.cntr-current-coords-values {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
#searchcoordstitle{
    width: 100%;
}
.options-map-provider-section {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}
.params-coords-search-cntr {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
}
.param-search-cntr-section {
    display: flex;
    gap: 5px;
    flex-direction: row;
    width: 100%;
}
.section-datainfo-map {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.params-coords-search-cntr label {
    min-width: 29%;
}
.current-value-options-data{
    font-weight: 700;
}
.titles-options-map{
    font-weight: 700;
    font-size: 1.15rem;
    opacity: 0.8;
}
select#mapProiderOptions {
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    color: #111827;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    max-width: 200px;
    padding: 0.625rem;
}

/* Estilos minimalistas para input number */
.input-number {
    appearance: none;
    -moz-appearance: textfield; /* Oculta los botones de incremento/decremento en Firefox */
    width: 100%; /* Ajuste al ancho completo */
    max-width: 200px;
    padding: 0.5rem; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 0.25rem; /* Bordes redondeados suaves */
    font-size: 1rem; /* Tamaño de fuente adecuado */
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Color de texto oscuro */
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.input-number:focus {
    outline: none;
    border-color: #007bff; /* Color azul suave para el foco */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Simulación de un ring de foco */
}

/* Para ocultar los botones de incremento/decremento en Chrome */
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#mapProiderOptions :focus {
    outline: none;
    border-color: #3b82f6; /* Equivalente a focus:border-blue-500 */
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5); /* Equivalente a focus:ring-blue-500 */
}


.container-options-map-main {
    width: 100%;
}
#map-section .sectionContentComponentCard {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    margin-bottom: 1rem;
    margin-top: 1rem;
    overflow: hidden;
    max-height: 4860px;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    position: relative;
  }

#map-section .sectionContentComponentCard[data-is-open="true"] .icon-bottom {
    transform: rotate(0deg);
    transition: all 0.2s ease-in-out;
}
  
#map-section  .sectionContentComponentCard[data-is-open="true"] .captionCardContent {
    max-height: 900px; /* Ajustar al contenido */
    opacity: 1;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    gap: 15px;
}

@media (max-width: 600px) {
    #current-coordinates {
        flex-direction: column;
        align-items: flex-start;
    }
    .statuts-current-coords {
        display: flex;
        gap: 5px;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }
    .options-map-provider-section {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        justify-content: center;
    }
    .params-coords-search-cntr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

}
@media (max-width: 790px) {
    .section-inputs-search {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
    }
    .param-search-cntr-section {
        display: flex;
        gap: 5px;
        flex-direction: column;
        width: 100%;
    }
}